body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin: 0;
    }


    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2rem 0;
        position: fi xed;
        top: 0;
        width: 100vw;
        background-color: white;
        z-index: 1000;
        display: block;
    }
        
    

    

    header img {
        width: 268px;
        height: 33px;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        
        /* box-sizing: border-box; */
    }

    div {
        display: block;
    }

    #Career, #Departments {
        color: #ababab;
    }

    article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
        display: block;
    }

    body {
        display: block;
        margin: 8px;
    }

    html {
        font-family: sans-serif;
    }

    .navtools {
        font-size: 16px;
        font-weight: 400;
    }

    .navtools {
        font-size: 16px;
        font-weight: 400;
    }

    .navtools {
        display: flex;
        gap: 1.5rem;
    }
    
    #headerlogo {
        width: 40px;
        aspect-ratio: auto 40 / 40;
        height: 40px;
            }

        img {
            vertical-align: middle;
        }
    
        img {
            border: 0;
        }

        img {
            overflow-clip-margin: content-box;
            overflow: clip;
        }


            p {
                margin: 0 0 10px;
            }

            * {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            p {
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                }

                html {
                    font-size: 10px;
                    -webkit-tap-highlight-color: rgba(0,0,0,0);
                }

                html {
                    font-family: sans-serif;
                }

                
                
                .dropdown {
                    cursor: pointer;
                    position: relative;
                    display: inline-block;
                }

                .dropdown-content {
                    display: none;
                    padding-top: 10px;
                    position: absolute;
                    min-width: 220px;
                    margin-left: -100px;
                    background: #fff;
                    box-shadow: 0 5px 10px 0 #d3cfc9;
                    z-index: 1;
                }

                .dropdown {
                    cursor: pointer;
                    /* position: relative; */
                    display: inline-block;
                }

                a {
                    text-decoration: none;
                    color: #d3cfc9;
                    outline: 0;
                    transition: all .2s ease 0s;
                }

                
                body {
                    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                    font-size: 14px;
                    line-height: 1.42857143;
                    color: #333;
                    background-color: #fff;
                }
                :after, :before {
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }
                
                .leadsection {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex-wrap: wrap;
                    margin-top: 8rem;
                }

                header {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    padding: 2rem 0;
                    position: fi xed;
                    top: 0;
                    width: 100vw;
                    background-color: white;
                    z-index: 1000;
                }

                #About, #Career:hover, #Departments:hover {
                    color: #00b39b;
                    text-decoration: none;
                }

                #headerp {
                    color: #00b39b;
                    font-size: 3.29rem;
                    font-family: Work Sans, Arial, sans-serif;
                    font-weight: 300;
                    letter-spacing: -0.3px;
                    padding-top: 20px;
                }


                .for1 {
                    background-color: #00ccb1;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    padding: 2em 2em 0;
                    justify-content: space-between;
                    height: 345px;
                }

                div {
                    display: block;
                }

                * {
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }

                body {
                    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                    font-size: 14px;
                    line-height: 1.42857143;
                    color: #333;
                    background-color: #fff;
                }

                html {
                    font-size: 10px;
                    -webkit-tap-highlight-color: rgba(0,0,0,0);
                }
                

                .forsection {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    gap: 2.5rem;
                    padding: 1.375em 1.25em 0;
                    font-size: 1.5em;
                    font-weight: 300;
                    line-height: 1.2;
                    margin: 3.75rem auto 2.5rem;
                    color: #fff;
                    font-family: Work Sans, Arial, sans-serif;
                    max-width: 1015px;
                    padding: 0 20px;
                    position: relative;
                }

                .for1 #for1title, .for2 #for2title, .for3 #for3title {
                    font-size: 1.625em;
                    font-weight: 400;
                    color: #fff;
                    margin: 0.3em 0;
                    font-family: Work Sans, Arial, sans-serif;
                }

                p {
                    margin: 0 0 10px;
                }

                p {
                    margin: 0 0 10px;
                }
                p {
                    display: block;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                }

                p {
                    display: block;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                }

                .for3 {
                    background-color: #1b2734;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    padding: 2em 2em 0;
                    justify-content: space-between;
                    height: 345px;
                }

                .for2 {
                    background-color: #3d83df;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    padding: 2em 2em 0;
                    justify-content: space-between;
                    height: 345px;
                }

                for3 select {
                    background-color: #1b2734;
                    border: none;
                    text-decoration: underline;
                    margin-bottom: 30px;
                    font-style: bold;
                }

                button, input, select, textarea {
                    font-family: inherit;
                    font-size: inherit;
                    line-height: inherit;
                }

                .for1 select {
                    background-color: #00ccb1;
                    border: none;
                    text-decoration: underline;
                    margin-bottom: 30px;
                    font-style: bold;
                }

                .for2 select {
                    background-color: #3d83df;
                    border: none;
                    text-decoration: underline;
                    margin-bottom: 30px;
                    font-style: bold;
                }

                .for3 select {
                    background-color: #1b2734;
                    border: none;
                    text-decoration: underline;
                    margin-bottom: 30px;
                    font-style: bold;
                }

                button, input, select, textarea {
                    font-family: inherit;
                    font-size: inherit;
                    line-height: inherit;
                }

                button, input, optgroup, select, textarea {
                    color: inherit;
                    font: inherit;
                    margin: 0;
                }

                .dropdown:hover .dropdown-content {
                    display: block;
                }

                .main-menu a {
                    color: #ababab;
                    display: block;
                    text-decoration: none;
                    padding: 0 0.6em;
                }

                .dropdown-content a {
                    color: #747474;
                    line-height: 120%;
                    padding: 12px 16px!important;
                    text-decoration: none;
                    display: block;
                }

                button, input, select, textarea {
                    font-family: inherit;
                    font-size: inherit;
                    line-height: inherit;
                }

                button, select {
                    text-transform: none;
                }

                select:not(:-internal-list-box) {
                    overflow: visible !important;
                }

                p {
                    margin: 0 0 10px;
                }


                * {
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }

                p {
                    display: block;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                }
                
                #section3title {
                    font-size: 1.625em;
                    margin: 0.25em 0 0.35em;
                    padding-right: 1em;
                    color: #00b39b;
                    font-family: Work Sans, Arial, sans-serif;
                    font-weight: 300;
                    letter-spacing: -0.3px;
                }

                body {
                    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                    font-size: 14px;
                    line-height: 1.42857143;
                    color: #333;
                    background-color: #fff;
                }

                .section3 {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                }

                .section3 {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                }
    
                .brands h1 {
                    float: left;
                    width: 33%;
                    font-size: 1.625em;
                    margin: 0.25em 0 0.35em;
                    padding-right: 1em;
                }

                h1 {
                    font-size: 2.125rem;
                    color: #00b39b;
                }

                .brands__logos {
                    align-items: center;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    font-size: 0;
                    list-style: none;
                    width: 67%;
                }

                .h2, h2 {
                    font-size: 30px;
                }

                h1 {
                    font-size: 2.125rem;
                    color: #00b39b;
                }

                

                #section3title {
                    font-size: 1.625em;
                    margin: 0.25em 0 0.35em;
                    padding-right: 1em;
                    color: #00b39b;
                    font-family: Work Sans, Arial, sans-serif;
                    font-weight: 300;
                    letter-spacing: -0.3px;
                }

                p {
                    display: block;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                }

                .section3 div {
                    width: 60%;
                    display: flex;
                }

                div {
                    display: block;
                }

                .twoparagraphs {
                    color: #747474;
                    font-size: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 30px;
                    padding-left: 260px;
                    /* padding-right: 280px; */
                    width: 100%;
                    justify-content: space-between;
                    justify-content: space-around;
                }

                #section3logos img {
                    width: 7.5rem;
                    /* object-fit: contain; */
                }

                img {
                    vertical-align: middle;
                }
                img {
                    border: 0;
                }

                .brands__logos {
                    align-items: center;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    font-size: 0;
                    list-style: none;
                    width: 67%;
                }

                .brands__logos .clinicloud img, .brands__logos .gipo img {
                    height: 34px;
                }

                .brands__logos a {
                    display: inline-block;
                    padding: 5px 0;
                }

                .tuotempo img {
                    transition: all .2s ease 0s;
                    filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
                    -webkit-filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
                    opacity: .55;
                }

                .brands__logos .tuotempo img {
                    height: 16px;
                }

                .brands__logos a svg {
                    height: 20px;
                    width: auto;
                    max-width: 100%;
                }
                
                svg:not(:root) {
                    overflow: hidden;
                }

                .brands__logos a path {
                    transition: all .2s ease 0s;
                    fill: hsla(0,0%,67%,.7);
                }

                ::selection {
                    background: #00b39b;
                    color: #fff;
                    text-shadow: none;
                }

            

                .brands__logos .clinicloud img, .brands__logos .feegow img, .brands__logos .gipo img, .brands__logos .jameda img, .brands__logos .tuotempo img {
                    transition: all .2s ease 0s;
                    filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
                    -webkit-filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
                    opacity: .55;
                }

                

                .grid {
                    margin: 0 -10px;
                }



                .twoparagraphs {
                    color: #747474;
                    font-size: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 30px;
                    padding-left: 260px;
                    /* padding-right: 280px; */
                    width: 100%;
                    justify-content: space-between;
                    justify-content: space-around;
                }
                
                .section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    background-color: #d0faf4;
    padding-left: 50px;
}

article, aside, details, figcaption, figure, footer, hgroup, main, menu, nav, section, summary {
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

section {
    display: block;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.section4header h2 {
    color: #00b39b;
    font-weight: 300;
    letter-spacing: -0.3px;
    padding-left: 50px;
}

.h2, h2 {
    font-size: 30px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.section4header p {
    padding-left: 50px;
    padding-top: 20px;
    font-size: 15px;
    color: #747474;
    padding-bottom: 50px;
}

p {
    margin: 0 0 10px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.section4header {
    font-family: Work Sans, Arial, sans-serif;
    padding-top: 60px;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.section4header {
    font-family: Work Sans, Arial, sans-serif;
    padding-top: 60px;
}

div {
    display: block;
}

#leader, #patients, #appointments, #doctors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    width: 220px;
    border-radius: 2px;
}

#leader {
    margin-bottom: 20px;
}

#leader, #patients, #appointments, #doctors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    width: 220px;
    border-radius: 2px;
}

#appointments {
    margin-bottom: 20px;
}

.section4fourparts div {
    height: 500px;
    width: 250px;
}

.section4fourparts h3 {
    font-size: 1.8461538462em;
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
}

#leader, #patients, #appointments, #doctors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    width: 220px;
    border-radius: 2px;
}

.section4fourparts div {
    height: 500px;
    width: 250px;
}
#leader, #patients, #appointments, #doctors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    width: 220px;
    border-radius: 2px;
}

.section4fourparts h3 {
    font-size: 1.8461538462em;
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
}

.section4fourparts {
    display: flex;
    margin-right: 50px;
    height: 100%;
    justify-content: space-around;
    margin-left: 100px;
}

.section4fourparts div {
    height: 500px;
    width: 250px;
}

.first2 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 20px;
}

.second2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#leader, #patients, #appointments, #doctors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    width: 220px;
    border-radius: 2px;
}

.section4fourparts h3 {
    font-size: 1.8461538462em;
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
}

.section4fourparts p {
    font-size: 0.8125em;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    color: #747474;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#leader img, #patients img, #appointments img, #doctors img {
    width: 25px;
    height: auto;
}

img {
    vertical-align: middle;
}
img {
    border: 0;
}

.section4fourparts h3 {
    font-size: 1.8461538462em;
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
}

.h3, h3 {
    font-size: 24px;
}

.section5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    width: 100%;
}

article, aside, details, figcaption, figure, footer, hgroup, main, menu, nav, section, summary {
    display: block;
}

.section5 h3 {
    font-size: 2.1428571429em;
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.5px;
    text-align: center;
    font-weight: 300;
}



div .buttons {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;;
}


.section5 p {
    margin: 1.6em 0;
    line-height: 1.7142857143;
    text-align: center;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    color: #747474;
}

img {
    vertical-align: middle;
}

.section6 div {
    border-radius: 3%;
    margin: 0.44%;
}

.country {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

.section6 p {
    font-size: medium;
    color: #747474;
    font-family: Roboto, Arial, sans-serif;
    padding-top: 20px;
    padding-left: 20px;
}


.section6 button {
    margin-top: 0.5cm;
    display: flex;
    gap: 2cm;
    justify-content: center;
    background: #3d83df;
    line-height: 1em;
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.04em;
    text-align: center;
    outline: 0;
    border: 0;
    border-radius: 4px;
    font-size: 1rem;
    font-family: Roboto, Arial, sans-serif;
    margin-right: 20px;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}


button {
    appearance: auto;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color:blue;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: gray;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.section7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section7 h1 {
    font-size: 2.1428571429em;
    color: #333;
    margin-bottom: 0.75em;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
    text-align: center;
}

.section7 button {
    margin-left: 120px;
    background-color: #3d83df;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    border-radius: 4px;
    text-align: center;
    border: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: 700;
    letter-spacing: 0.04em;
    font-size: 12px;
    font-family: Work Sans, Arial, sans-serif;
}




    footer {
        text-align: center;
        margin-top: 100px;
        font-size: 12px;
        font-family: Roboto, Arial, sans-serif;
        color: #ababab;
        padding-left: 100px;
        padding-right: 100px;
    }

    a {
        color: #337ab7;
        text-decoration: none;
    }
    